
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'app1_sms_smsonattente_list' %}">
    smsonattente Listing
    </a>
</p>
    
<table class="table">
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>next_date_send</td><td>{{ object.next_date_send }}</td></tr>
    <tr><td>name</td><td>{{ object.name }}</td></tr>
    <tr><td>id_pv</td><td>{{ object.id_pv }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>status</td><td>{{ object.status }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}